:root {
  --primary-color: #064423;
  --secondary-color: #4fe067;
  --background-color: rgb(211, 245, 219);
  --text-color: #064423;
  --secondary-text: #8b7a73;
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  min-height: 100vh;
}

::selection {
  background: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
